
  .game-card:hover .game-image {
    transform: scale(1.1);
    opacity: 90%;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: linear;
  }
  .game-card:hover .game-caption {
    color: orangered;
    transform: scale(1.1);
    transition-property: all;
    transition-timing-function: linear;
    transition-duration: 0.3s;
  }